@model IEnumerable<Post>

@{ 
    
}
<h2>Home Page</h2>
<form action="/" method="get">
    <input type="text" name="search" value="" />
</form>
<div>
    <ul>
        @foreach(var post in Model)
        {
            @if (!post.Visible == false) { <li>
    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
        @post.Title
        @post.DateOfCreation
        @post.Category
        @post.NazivKreatora
    </a>


</li> }
        
        }
    </ul>
</div>