@model Post
@{ 
    ViewBag.Title = Model.Title;
    ViewBag.ShortDescription = Model.ShortDescription;
    ViewBag.Keywords = $"{Model.Tags?.Replace(","," ")} {Model.Category}";
    

 }


<h2>@Model.Title</h2>
@if (!String.IsNullOrEmpty(Model.Image))
{
    var image_path = $"/Image/{Model.Image}";
    <img src="@image_path" width="500"/>
}
<p>@Model.ShortDescription</p>
<p></p>
<p>@Model.LongDescription</p>
<p></p>
<p>@Model.CeollegeDirections</p>
<p></p>
<p>@Model.DateOfCreation</p>
<p></p>
<p>@Model.NazivKreatora</p>
<p></p>
<p>@Model.Counter</p>


